@page "{id:int?}"
@model CandidateInformation.Pages.Candidates.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Please click here:<a href = "https://localhost:44369/Candidates"> https://localhost:44369/Candidates </a> to go to the main page</h2>
</div>
